body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #7e9bcf;
}

label, input, button {
    display: block;
    margin-bottom: 10px;
}

#mensaje {
    color: red;
    font-weight: bold;
}

ul {
    padding-left: 20px;
}